
.color-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: rgba(50, 113, 190, 0.8);
}

.row-bg {
    background-image: url('../img/hero.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 20px;
    color: white;
    position: relative;
}

.above-van p{
    margin: unset;
}

.fs-12 {
    font-size: 12px;
}

a {
    text-decoration: none;
}

.hr {
    height: 1px;
    background-color: white;
    width: 100%;
}

.enrollNow {
    height: 40px;
    width: 9rem;
    background-color: rgb(0, 174, 255);
    border-radius: 20px;
    border: 0;
    text-align: center;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero h1 {
    width: 32rem;
    height: 6rem;
    text-align: center;
    padding-bottom: 8rem;
}

.hero button {
    background-color: rgb(0, 174, 255);
    border-radius: 20px;
    border: 0;
    height: 3rem;
    width: 12rem;
    text-align: center;
}



.browse-top h2{
    color: rgb(19, 106, 213);
    text-align: center;
    margin: auto;
}

.brose-top-cards{
    padding: 0 30px;
}
.brose-top-cards .card{
    border-radius: 10px;
    background-color:  rgb(243, 247, 253) ;
    margin-top: 20px;
}

.brose-top-cards .card svg{
    color: rgb(0, 174, 255);
    background-color: white;
    padding: 7px;
    border-radius: 5px;
    font-size: x-large;
}

.card-body  p{
    color: rgb(181, 180, 180);
}

.browse-top p{
    color: rgb(102, 102, 112);
}