.row-bg {
    width: 100vw;
    background-image: url('../img/hero.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    /* padding: 20px; */
    color: white;
    position: relative;
}

.above-nav svg {
    margin: unset;
}

.color-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: rgba(50, 113, 190, 0.8);
}


.above-van p {
    margin: unset;
}

.fs-12 {
    font-size: 12px;
}

a {
    text-decoration: none;
}

.enrollNow {
    height: 40px;
    width: 9rem;
    background-color: rgb(0, 174, 255);
    border-radius: 20px;
    border: 0;
    text-align: center;
}

.hero,
.tmw-leaders-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.hero button,
.tmw-leaders-content button,
.become-inst button {
    background-color: rgb(0, 174, 255);
    border-radius: 20px;
    border: 0;
    height: 3rem;
    width: 12rem;
    text-align: center;
}

.browse-top-cards .card {
    border-radius: 10px;
    background-color: rgb(243, 247, 253);
    margin-top: 20px;
}

.browse-top-cards .card svg {
    color: rgb(0, 174, 255);
    background-color: white;
    padding: 7px;
    border-radius: 5px;
    font-size: x-large;
}

.card-body p {
    color: rgb(181, 180, 180);
}

.about-us-row {
    position: relative;
}

.become-inst {
    position: relative;
}

.become-inst ul,
.about-us ul {
    list-style-type: none;
    padding-left: 0;
}


.become-inst ul li::before,
.about-us ul li::before {
    content: "\2713";
    color: rgb(19, 106, 213);
    font-size: 1.2em;
    margin-right: 10px;
}

.become-inst-image img {
    height: 100%;
    position: absolute;
    bottom: -1rem;
    left: 58rem;
    top: -3rem;
}


.best-education-cards .card .card-body svg {
    color: rgb(19, 106, 213);
    padding: 20px;
    border: solid rgb(210, 226, 247) 1px;
    border-radius: 50%;
    font-size: x-large;
}

.tmw-leaders {
    padding: 7rem;
}

.buttons .learn-more-button {
    background-color: white;
    border: solid rgb(19, 106, 213) 1px;
}

.about-us-row {
    margin: 5rem 0;
    position: relative;
}


.about-us-image img {
    height: 24rem;
    width: 32rem;
    position: absolute;
    left: 41rem;
    top: 0;
    z-index: 3;
}


.blue-square {
    height: 22rem;
    width: 26rem;
    top: -27px;
    right: -11rem;
    position: absolute;
    background-color: rgb(208, 225, 247);
}

.school-news img {
    width: 300px;
}

.school-news .card-text {
    color: rgb(116, 119, 116);
}

.calender {
    color: rgb(204, 204, 204);
    align-items: baseline;
    gap: 5px;
}

.carousel-indicators {
    margin-left: 14% !important;
}

.carousel-indicators .button {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: rgb(19, 106, 213) !important;

}

.carousel-img img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.why-us-section img {
    max-width: 450px;
}

.accordion-body img {
    width: 190px;
}

.social-media a {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-media svg {
    color: black;
}

.projects-content p,
.contact-content p {
    color: rgb(137, 174, 228);
}

.pics img {
    width: 100px;
}

.footer-section .container .row h5,
h6 {
    font-family: 'Times New Roman', Times, serif;
}

/*colors*/

.light-blue-bg {
    background-color: rgb(248, 249, 250);

}

.blue-color {
    color: rgb(19, 106, 213);
    font-family: 'Times New Roman', Times, serif;
}

.blue-bg-color {
    background-color: rgb(19, 106, 213);
}

.grey-color,
p {
    color: rgb(102, 102, 112);
}

.yellow-color {
    color: rgb(255, 193, 7);
}